*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main>div{
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.grid_container_1 div{
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.grid_container_2 div{
    width: calc(100% / 9);
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.grid_container_3 div{
    width: calc(100% / 7);
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}